In [2]:
import pandas as pd
import numpy as np
import random
import uuid
from datetime import datetime, timedelta

  transaction_id customer_id    transaction_time  transaction_amount  \
0       b4de2ec0   CUST_0041 2024-01-01 00:02:00             2097.23
1       458c242d   CUST_0077 2024-01-01 00:50:00             2088.17
2       b56ef188   CUST_0005 2024-01-01 00:55:00             1427.17
3       ecfdcdae   CUST_0054 2024-01-01 00:56:00             2539.90
4       47fcf1f1   CUST_0007 2024-01-01 01:00:00               25.71

  transaction_type merchant_category transaction_location  is_declined  \
0              ATM               NaN                 Kano            0
1         Transfer               NaN                Abuja            0
2              ATM               NaN                Abuja            0
3              ATM               NaN               Ibadan            0
4         Transfer               NaN        Port Harcourt            0

   is_fraud
0         0
1         0
2         0
3         0
4         0

Shape: (4569, 9)
Fraud rate: 4.16 %

In [5]:
df.to_csv("../data/raw/bank_transactions.csv", index=False)

In [4]:
df.head()

,transaction_id,customer_id,transaction_time,transaction_amount,transaction_type,merchant_category,transaction_location,is_declined,is_fraud
0,b4de2ec0,CUST_0041,2024-01-01 00:02:00,2097.23,ATM,NaN,Kano,0,0
1,458c242d,CUST_0077,2024-01-01 00:50:00,2088.17,Transfer,NaN,Abuja,0,0
2,b56ef188,CUST_0005,2024-01-01 00:55:00,1427.17,ATM,NaN,Abuja,0,0
3,ecfdcdae,CUST_0054,2024-01-01 00:56:00,2539.90,ATM,NaN,Ibadan,0,0
4,47fcf1f1,CUST_0007,2024-01-01 01:00:00,25.71,Transfer,NaN,Port Harcourt,0,0

In [ ]:
print("\nShape:", df.shape)
print("Fraud rate:", round(df["is_fraud"].mean() * 100, 2), "%")